

/**
    Estilos de para los Tooltips
*/

$bg: rgba(0, 0, 0, 0.863);
$padding: 2px 5px 5px 5px;
$color: white;
$border-radius: 5px;
$tam-flecha: 5px;


.tips 
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important; 
    padding: $padding !important;
    color: $color !important;
    background-color: $bg !important;
    border-radius: $border-radius !important;
    white-space: nowrap !important;
    transform: translate(0);
    transition: transform 0.3s ease;


    @mixin flecha_derecha () {
        position: absolute;
        border-top: $tam-flecha solid transparent;
        border-bottom: $tam-flecha solid transparent;
        border-left: $tam-flecha solid $bg;
        top: calc(50% - 4.5px);
        left: calc(100% - 1px);
    }
    
     @mixin flecha_izquierda () {
        position: absolute !important;
        border-top: $tam-flecha solid transparent !important;
        border-bottom: $tam-flecha solid transparent !important;
        border-right: $tam-flecha solid  $bg !important;
        top: calc(50% - 4.5px) !important;
        left: -4.5px !important;
    }    

    @mixin flecha_abajo () {
        position: absolute;
        border-left: $tam-flecha solid transparent;
        border-top: $tam-flecha solid $bg;
        border-right: $tam-flecha solid transparent;
        bottom: -4.5px;
        left: calc(50% - 4.5px)
    }

    @mixin flecha_arriba() {
        position: absolute;
        border-left: $tam-flecha solid transparent;
        border-bottom: $tam-flecha solid $bg;
        border-right: $tam-flecha solid transparent;
        top: -4px;
        left: calc(50% - 4.5px)
    }

    .mueca-der {
        @include flecha_derecha()
    }

    .mueca-izq {
        @include flecha_izquierda()
    }

    .mueca-arr {
        @include flecha_arriba()
    }


    .mueca-aba {
        @include flecha_abajo()
    }

}

.tips-ele {
    z-index: 0;
    position: relative ;
    overflow: visible !important;
}
